.env

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Next.js
.next/
out/

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*.local
.env
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Expo
.expo
.expo-shared

# Amplify
amplify/\#current-cloud-backend
amplify/.config/local-*



# Cloudflare
.dev.vars
.wrangler

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
